/r-package/exec/bigquery_credentials.dat
edxviz_0.0.0.9000.tar.gz
.DS_Store
*/.DS_Store
*.Rhistory
/r-package/inst/data/*.csv
*.csv
*.json
*.xml
.Rproj.user
*.log
r-package/inst/data
r-package/inst/results
.config.json
/r-package/inst/global_dashboard/overview_module/.Rhistory
.RData
.Rapp.history
r-package/exec/__pycache__/*
