/r-package/exec/bigquery_credentials.dat
edxviz_0.0.0.9000.tar.gz
.DS_Store
/r-package/inst/data/*.csv
*.csv
*.json
*.xml
.Rproj.user
*.log
r-package/inst/data
r-package/inst/results
.DS_Store
.config.json
/r-package/inst/global_dashboard/overview_module/.Rhistory
r-package/.DS_Store
