nginx:
  image: nginx
  container_name: nginx
  ports:
    - "80:80"
    - "443:443"
  volumes:
    - /etc/nginx/conf.d
    - /etc/nginx/vhost.d
    - /usr/share/nginx/html
    - ~/proxy/certs:/etc/nginx/certs:ro

nginx-gen:
  image: jwilder/docker-gen
  container_name: nginx-gen
  volumes:
    - /var/run/docker.sock:/tmp/docker.sock:ro
    - ~/proxy/templates/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
  volumes_from:
    - nginx
  entrypoint: /usr/local/bin/docker-gen -notify-sighup nginx -watch -only-exposed -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf

letsencrypt-nginx-proxy-companion:
  image: jrcs/letsencrypt-nginx-proxy-companion
  container_name: letsencrypt-nginx-proxy-companion
  volumes_from:
    - nginx
  volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro
    - ~/proxy/certs:/etc/nginx/certs:rw
  environment:
    - NGINX_DOCKER_GEN_CONTAINER=nginx-gen

shiny:
  image: lstmemery/moocshiny
  container_name: moocshiny
  restart: always
  expose:
    - "3838"
  environment:
    - VIRTUAL_HOST=vizit20dashdev.ctlt.ubc.ca
    - VIRTUAL_NETWORK=nginx-proxy
    - LETSENCRYPT_EMAIL=matthew.emery44@gmail.com
    - VIRTUAL_PORT=80
    - LETSENCRYPT_HOST=vizit20dashdev.ctlt.ubc.ca
  volumes:
    - ~/mooc_capstone_public/r-package:/srv/shiny-server
    - ~/mooc_capstone_public/logs:/var/log/shiny-server